// CSS Reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  user-select: none;
}
a {
  color: inherit;
}
body {
  font-family: "Quicksand", sans-serif !important;
  font-family: "Rubik", sans-serif !important;
}
// scroll bar
::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(158, 158, 158);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(187, 187, 187);
}
::-webkit-scrollbar-thumb:active {
  background-color: rgb(207, 207, 207);
}
// forms
input,
textarea {
  width: 100%;
  padding: 7px;
  font-size: 17px;
  border-radius: 8px;
  background-color: #f9f9f9;
  resize: none;
  font-family: "Quicksand", sans-serif !important;
  font-family: "Rubik", sans-serif !important;
  transition: all 0.3s;
  &:focus {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all 0.3s;
  }
}
label {
  font-size: 15px;
  cursor: pointer;
}